<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- css -->
	<link rel="stylesheet" href="./assets/css/burger_style.css" type="text/css" />
	<title>Eat Burger</title>
</head>

<body>
	{{{ body }}}
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="./assets/js/app.js"></script>
</body>

</html>